.sidebar-container {
  height: 100%;
  width: fit-content;
  min-width: 16.5rem;
  padding: 1rem;
  padding-right: 0.5rem;
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  gap: 0.5rem;
  background-color: #e8e8e8;
}

.accordion-button {
  padding: 0.5rem !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  border-bottom: solid var(--bs-border-width) var(--bs-border-color) !important;
}

.accordion-body {
  padding: 0.5rem !important;
}

.show-element {
  margin-bottom: 0.25rem;
}

.hide-element {
  display: none;
}

.and-or-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.accordion-header {
  margin: 0;
}

.range-entry {
  margin: 0.25rem 0;
}

.sidebar-header {
  margin: 0 auto;
}

.accordion-container {
  padding: 0 0 0.5rem 0;
}
