.sidebar-container {
  padding: 1em 0;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
}

.left{
  margin-left: 0rem;
}

/*Needed to redeclare this in order to avoid a weird transition*/
.header-one{
  font-size: 2em;
  color:#EEEEEE;
  margin: auto auto auto 0rem;
}

.collapse-btn {
  height: 3em;
  width: 3em;
  right: 0.65em;
  position: relative;
  border-radius: 50% !important;
  background-color: #414042;
  color: #eeeeee;
  filter: drop-shadow(0.25em 0.375em 0.625em #00000040);
  top: 4em;
  padding: 0;
  font-size: 1rem !important;
  border: 0;
}

.collapse-btn:hover {
  background-color: #94dfff;
  filter: drop-shadow(0.25em 0.375em 0.625em #00000040);
}

.collapse-btn:active {
  background-color: #59cafa;
  filter: drop-shadow(0 0 0 #00000040);
}

.header {
  display: flex;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.button-container {
  width: 0.75em;
}

.sidebar-content-container {
  height: 100%;
  display: grid;
  grid-template-rows: fit-content(100%) auto fit-content(100%);
  gap: 1rem;
}
